/* css da page home */

.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
}

.home_img {
    height: 500px;
}

.home p {
    font-size: 1.75rem;
    margin-bottom: 6rem;
    color: white;
}

.home span{
    font-size: 3.75rem;
     color: var(--red); 
    font-weight: 600;
}

.dev {
    color: #c9c9c9;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: 400;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.btn_red {
    background-color: rgb(26, 26, 26);
    color: var(--white);
    border: 2px solid var(--red);
}

.btn_red:hover {
    background-color: var(--red);
    border: 2px solid var(--red);
    transform: scale(1.03);
    transition: ease-in-out .1s;

}