:root {
  font-family: Poppins ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --primary: #16213E; */
  --primary: #363b4e;
  --secondary: #4f3b78;
  --terceary: #c4bbf0;
  /* --red: #E94560;  #4f3b78 */
  --red:  #927fbf;
  --soft-white: #f1f1f1;
  --white: #fefefe;
  --black: #111;
  --gray: #222222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

